/* Importacion de las variables colores */
@import "colors.css";
/*Estilo general de la pagina */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/*Estilo del header*/


#CtnHead {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#Logo h5 {
    font-size: 2.2vh;
    margin-top: 3%;
    font-family: 'Overpass', sans-serif;
    
}

#Logo img {
    width: 15vh;
    margin-top: 10%;
    margin-left: 5%;
}
#NomPrin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#BarBusque {
    
    display:grid;
    justify-content: center;
}
#BarBusque nav{
    width: 100%;
}
#BarBusque nav form{
    padding-left: 20%;
}
#Buscador {
    text-align: center;
}
.btn{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#Ubi{
    text-align: center;
}
#IniSes{
    margin-top: 19%;
}


#Ubi{
    text-align: center;
}


/* Boton Publicar */
#agregar, #publicar{
  background-color: var(--Principal); /* Color de fondo */
  border: none; /* Quitamos el borde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Añadimos un poco de padding para hacerlo más grande */
  text-align: center; /* Centramos el texto */
  text-decoration: none; /* Quitamos la decoración */
  display: inline-block; /* Lo hacemos un elemento en línea */
  font-size: 16px; /* Tamaño de letra */
  margin: 4px 2px; /* Añadimos un poco de margen */
  cursor: pointer; /* Cambiamos el cursor */
  border-radius: 8px; /* Añadimos un borde redondeado */
}
.contenedor-icono i{
    font-size:30px ;
  color: #A4A2A2;
}
/* Formulario */
* Handle */
::-webkit-scrollbar-thumb {
    background: #262228;
    border-radius: 5px;
}

.formulario {
    max-width: 800px;
	width:800px;
	margin: auto;
	margin-bottom: 30px;
    background-color: #e4e4e4;
}

.formulario label {
    text-align: left;
	display: block;
}


.limpiar{
    background-color: #ffce00;
    color: #262228;
}

/* Boton categorias */
  /* Estilos para el botón desplegable */
  #cate {
    background-color: #b1ada8;
    color: #000000;
    border: none;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

/* Estilos para las opciones del botón desplegable */
#cate option {
    background-color: #ffffff;
    color: #333333;
}

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  .modal-content {
    background-color: var(--gris);
    margin: 10% auto;
    padding: 20px;
    width:800px;
    max-width: 900px;
    animation: fade-in 0.3s;
  }

.producto{
    width: 100%;
    text-align: left;
    border-radius: 8px;
    background-color: var(--Secundario);
    
}

.producto:hover{
    box-shadow: 0px 0px 15px rgb(243, 114, 9);
}

.container{
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 28%);
    gap: 5%;
}

.nombre{
    color: var(--Principal);
    text-align: center;
    border-inline: none;
    text-decoration: none;

}

.imagen{
text-align: center;
}

.texto{
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
}

.container2{
    text-decoration: none;
}

.formulario input[type="file"]{
    background-color: var(--Blanco);
    width: 90%;
    height: 150px;
    border-radius: 7px;
}

.parrte1{
    grid-template-rows: repeat(2, 70%);
    text-align: center;
}

.formulario input[type="text"]{
    background-color: var(--Blanco);
    border-radius: 7px;
}



