/* Variables de la pagina*/
:root {
    --Principal: #FE8744;
    --Secundario: #FFEECD;
    --gris: #A4A2A2;
    --Negro: #000;
    --Blanco: #F9F9F9;
    --Oscuro: #;
    
    --fsizeProductos: 22px;
    --fsizeDescripcion: 26px;

}

/*Estilo general de la pagina */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    
   
}

/*Estilo del header*/
#CtnHead{
    display: flex;
    flex-direction: row;
    height: 17vh;
    text-align: center;
}

#Logo{
    width: 18%;
}
#NomBar{
    width: 50%;
}

#NomPrin{
    height: 38%;  
}
#TxtNom{
    font-size: 250%;
}

#BarBusque{
    display: flex;
    flex-direction: row;
    height: 62%;
}
#Bar{
    width: 75%;
    background-color: #664187;
}
#Lupa{
    width: 25%;
    background-color: #bbca63;
}

#Config{
    background-color: brown;
    width: 32%;
}

/* Estilo del Main */
main{
    background-color: red;
}
#Ubi{
    background-color: #1b18c7;
    text-align: center;
}


/*Estilo del footer*/
footer{
    background-color: orange;
}

/* Boton Publicar */
#agregar, #publicar{
  background-color: #fa8536; /* Color de fondo */
  border: none; /* Quitamos el borde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Añadimos un poco de padding para hacerlo más grande */
  text-align: center; /* Centramos el texto */
  text-decoration: none; /* Quitamos la decoración */
  display: inline-block; /* Lo hacemos un elemento en línea */
  font-size: 16px; /* Tamaño de letra */
  margin: 4px 2px; /* Añadimos un poco de margen */
  cursor: pointer; /* Cambiamos el cursor */
  border-radius: 8px; /* Añadimos un borde redondeado */
}

/* Formulario */
* Handle */
::-webkit-scrollbar-thumb {
    background: #262228;
    border-radius: 5px;
}

.formulario {
	max-width: 500px;
	width:90%;
	margin: auto;
	margin-bottom: 30px;
}

.formulario label {
    text-align: left;
	display: block;
}

.formulario .error {
    border: 1px solid red;
    color: black;
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 5px;
}
.formulario .success {
    border: 1px solid lawngreen;
    color: black;
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 5px;
}

.formulario input[type="text"],
.formulario input[type="file"],
.formulario textarea {
	width: 100%;
	margin-bottom: 30px;
    padding: 10px;
    background: none;
    border: none;
    border-bottom:1px solid rgb(230, 123, 37);
}


.formulario textarea {
	min-height: 76px;
	max-height: 150px; 
	max-width: 100%;
    min-width: 100%;
}
.limpiar{
    background-color: #ffce00;
    color: #262228;
}

/* Boton categorias */
  /* Estilos para el botón desplegable */
  #cate {
    background-color: #b1ada8;
    color: #000000;
    border: none;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

/* Estilos para las opciones del botón desplegable */
#cate option {
    background-color: #ffffff;
    color: #333333;
}