/* Importacion de las variables colores */
@import "colors.css";

:root {
    --Principal: #FE8744;
    --Secundario: #FFEECD;
    --gris: #A4A2A2;
    --Negro: #000;
    --Blanco: #F9F9F9;
    --Oscuro: #;
    
    --fsizeProductos: 22px;
    --fsizeDescripcion: 26px;

}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-family: sans-serif;
}
header {
    text-align: center;
    margin: 20px 0;
}
footer {
    width: 100%;
    margin-top: 20px;

    background-color: #707070;
    color: white;
    font-weight: bold;
    font-variant: small-caps;

    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    position: fixed;
    bottom:0;
}
.texto{
    display: flex;
    flex-wrap: wrap;
}
.imagen{
    text-align: center;
    color: var(--Principal);
}

.producto{
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 5%;
}

.prod{
    width: 100%;
    text-align: center;
    border-radius: 8px;
    background-color: var(--Secundario);
}
.botones {
    width: 30%;
    margin-top: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-left:20px;

    .boton {
        padding: 10px;
        color: #fff;
        width: 80%;
        display: block;
        background: #000;
        text-align: center;
        border-radius: 20px;
        transition: .3s ease all;
        &.primario {
            background: #FE8744;
            &:hover {
                background: #e0ae77;
            }
        }

     
    }
}



